<br><br><br><br><br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name </th>
      <th scope="col">Address</th>
      <th scope="col">Email</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let resto of collection;index as i">

      <tr>
        <td>{{resto.id}}</td>
        <td>{{resto.name}}</td>
        <td>{{resto.Address}}</td>
        <td>{{resto.email}}</td>
        <td><i class="fa fa-edit btn" style="font-size: 30px;color:red" data-toggle="modal"
            [attr.data-target]="'#deleteModal-'+i">&nbsp;&nbsp; </i>
          <i class="fa fa-trash-o" style="font-size:30px;color:red"></i>
        </td>
      </tr>
      <div class="modal" id="deleteModal-{{i}}" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Delete Bill</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body text-danger">
              <p>Are you sure want to delete this bill!!!</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" id='delete-close-{{i}}'
                data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-danger">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </tbody>
</table>
<br><br><br><br><br>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>